.siteDisplay{
	padding-top: 1px;
	padding-left: 60px;
	padding-bottom: 5px;
	padding-right : 60px;
}

#logDiv {
	width : 40%;
	left : 30%;
	position : absolute;
}

.monButton {
	text-align: right;
}

.monTitre {
	display: inline-block;
}

.monClick {
	float: right;
	margin-top: 21px;
}

.border-row{
	
	border-bottom: 1px solid #ccc;
}

.btnLogIn {
	float : right;
}

.newAccountLink {
	text-align : center;
}

.monErreur{
	color : red;
}

.jumbotron {
	border-radius: 5px;
	border-style : solid;
	border-color: black;
	border-width: 1px;
}

.monCompteCreer{
    display: inline-block;
    position: absolute;
    top: 51px;
    width: 100%;
    text-align: center;
    background-color: rgb(110, 211, 110);
    color: white;
    font-size: large;
}